body,html{
    margin: 0;
    padding: 0;
}
#root{
    margin:0;
    background-color:#fff;
    border:none;
}
.crd{
    background-color: #E0E0F5;
    box-shadow: 3px 2px 3px #e0e0e0;
    border: 0.01rem solid;
    margin-top: 1%;
    margin-left: 1% !important;
    display: inline-block;
    width: 35em;
}
@media only screen and (max-width: 600px) {
    .crd {
      width: 30em;
    }
  }
a{
    margin-top: 1%;
    display:block;
    margin-bottom: 1%;
}
p{
    display: inline;;
}
img{
    width: 2rem;
}
.red{
    color:red ;
    background-color:transparent;
}
.green{
    color:greenyellow;
}