body,html{
    margin: 0;
    padding: 0;
}
#root{
    margin:0;
    background-color:#fff;
    border:none;
}
.card1{
    background-color: #E0E0F5;
    box-shadow: 3px 2px 3px #e0e0e0;
    width: 30%;
    border:0.01rem solid;
    margin-top:1%;
    margin-left: 1%;
    padding: 1%;
    display:inline-block;
}
a{
    margin-top: 1%;
    display:block;
}
p{
    display: inline;;
}
img{
    width: 2rem;
}
.red{
    color:red ;
    background-color:transparent;
}
.green{
    color:greenyellow;
}